/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: thistle;
  color: purple;
}

h1 {
  font-family: verdana, arial, sans-serif;
}

button {
  padding: 15px;
  border-radius: 100px;
}

#gameButtonArea > button {
  width: 150px;
  height: 150px;
  margin: 1px;
}

#button1 {
  background: purple;
}

#button1:active,
#button1.lit {
  background-image: url("https://cdn.glitch.global/0b15fba7-5e97-4410-ac70-e4463fa137bf/thumbnails%2FIMG_0544%20(1).JPG?1648353145902");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#button2 {
  background: violet;
}

#button2:active,
#button2.lit {
  background-image: url("https://cdn.glitch.global/0b15fba7-5e97-4410-ac70-e4463fa137bf/thumbnails%2FIMG_0767.JPG?1648353176902");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#button3 {
  background: mediumorchid;
}

#button3:active,
#button3.lit {
  background-image: url("https://cdn.glitch.global/0b15fba7-5e97-4410-ac70-e4463fa137bf/thumbnails%2FIMG_0556.JPG?1648353185005");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#button4 {
  background: darkorchid;
}

#button4:active,
#button4.lit {
  background-image: url("https://cdn.glitch.global/0b15fba7-5e97-4410-ac70-e4463fa137bf/thumbnails%2FIMG_0280.JPG?1648353194730");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#button5 {
  background: blueviolet;
}

#button5:active,
#button5.lit {
  background-image: url("https://cdn.glitch.global/0b15fba7-5e97-4410-ac70-e4463fa137bf/thumbnails%2FIMG_0290.JPG?1648353216126");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#button6 {
  background: magenta;
}

#button6:active,
#button6.lit {
  background-image: url("https://cdn.glitch.global/0b15fba7-5e97-4410-ac70-e4463fa137bf/thumbnails%2FIMG_1484.JPG?1648353226292");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hidden {
  display: none;
}
